hr {
    border: 0;
    clear: both;
    padding: 1rem;
}

#submit {
    max-width: 900px;
    margin: 0 auto 5rem;
    padding: 0 4.5%;
}

#main h1,
.thankyou h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

#main section,
.thankyou {
    width: 90%;
    margin: 2.5rem auto;
}

#main input[type="text"],
#main input[type="name"],
#main input[type="url"],
#main input[type="email"],
#main input[type="date"],
#main input[type="time"],
#main textarea {
    padding: 1.5%;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}

#main input[type="text"],
#main input[type="name"],
#main input[type="url"],
#main input[type="email"],
#main textarea {
    width: 97%;
}

#main input[type="text"],
#main input[type="name"],
#main input[type="url"],
#main input[type="date"],
#main input[type="time"] {
    margin: 1.25rem 0;
}

#main textarea {
    height: 55vh;
}

#main input[type="submit"] {
    font-size: 1.25rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.25rem 0;
    background: #fff;
    color: #000;
    border-radius: 2.5rem;
}

.submit {
    margin-top: 5vw;
}

#submit a {
    color: black;
    border-bottom: 1px dashed #000;
    text-decoration: none;
    transition: all 1500ms ease;
}

#submit a:hover {
    border-bottom: 1px dashed transparent;
}

#content {
    margin-top: 1.5em;
    padding-top: 1.25em;
}

#content h2 {
    display: inline;
    font-size: 95%;
    border: 0;
    padding-left: 0;
    font-weight: normal;
}

#content h3 {
    display: inline-block;
    margin-bottom: 1.25em;
}

#content details summary i,
details .content u {
    display: inline;
    float: right;
    padding: 0.5rem 0 0;
    font-size: 75%;
}

details {
    padding: 0;
    font-size: 1.25rem;
    transition: all 1000ms ease;
}

details summary {
    cursor: pointer;
    transition: all 1000ms ease;
    position: relative;
    padding: 0 1rem 0.25rem;
    font-size: 2rem;
}

details summary:hover {
    transition: all 500ms ease;
}

details[open] summary:hover {
    transition: all 500ms ease;
}

details .content {
    padding: 1.25rem;
    position: relative;
    font-size: 1rem;
}

.content a {
    display: inline-block;
    margin: 1.25rem;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    text-decoration: none;
    transition: all 1500ms ease;
    cursor: pointer;
}

.content a:hover {
    transition: all 1000ms ease;
}

#credit {
    width: 95%;
    margin: 1.25% 2.5%;
    font-size: 1.25rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#credit a {
    text-decoration: none;
    transition: all 1500ms ease;
}

#credit a:hover {
    transition: all 1000ms ease;
}

@media print {
    #submit input[type="submit"] {
        display: none;
    }
}